
._AF input[type=date].error:focus, ._AF input[type=date]:focus, ._AF input[type=datetime-local].error:focus, ._AF input[type=datetime-local]:focus, ._AF input[type=datetime].error:focus, ._AF input[type=datetime]:focus, ._AF input[type=email].error:focus, ._AF input[type=email]:focus, ._AF input[type=month].error:focus, ._AF input[type=month]:focus, ._AF input[type=number].error:focus, ._AF input[type=number]:focus, ._AF input[type=password].error:focus, ._AF input[type=password]:focus, ._AF input[type=search].error:focus, ._AF input[type=search]:focus, ._AF input[type=tel].error:focus, ._AF input[type=tel]:focus, ._AF input[type=text].error:focus, ._AF input[type=text]:focus, ._AF input[type=time].error:focus, ._AF input[type=time]:focus, ._AF input[type=url].error:focus, ._AF input[type=url]:focus, ._AF input[type=week].error:focus, ._AF input[type=week]:focus, ._AF select.error:focus, ._AF select:focus, ._AF textarea.error:focus, ._AF textarea:focus, .achieveforms-container input[type=date].error:focus, .achieveforms-container input[type=date]:focus, .achieveforms-container input[type=datetime-local].error:focus, .achieveforms-container input[type=datetime-local]:focus, .achieveforms-container input[type=datetime].error:focus, .achieveforms-container input[type=datetime]:focus, .achieveforms-container input[type=email].error:focus, .achieveforms-container input[type=email]:focus, .achieveforms-container input[type=month].error:focus, .achieveforms-container input[type=month]:focus, .achieveforms-container input[type=number].error:focus, .achieveforms-container input[type=number]:focus, .achieveforms-container input[type=password].error:focus, .achieveforms-container input[type=password]:focus, .achieveforms-container input[type=search].error:focus, .achieveforms-container input[type=search]:focus, .achieveforms-container input[type=tel].error:focus, .achieveforms-container input[type=tel]:focus, .achieveforms-container input[type=text].error:focus, .achieveforms-container input[type=text]:focus, .achieveforms-container input[type=time].error:focus, .achieveforms-container input[type=time]:focus, .achieveforms-container input[type=url].error:focus, .achieveforms-container input[type=url]:focus, .achieveforms-container input[type=week].error:focus, .achieveforms-container input[type=week]:focus, .achieveforms-container select.error:focus, .achieveforms-container select:focus, .achieveforms-container textarea.error:focus, .achieveforms-container textarea:focus {
    
    box-shadow: none;
    outline: 0.2rem solid #488EF8;
    border: 3px solid #0b0c0c !important;
}



.achieveforms-container .all-sections .field .fieldContent textarea.fieldInput:focus {
    border: 3px solid #0b0c0c !important;

}

_AF input[type=date], ._AF input[type=datetime-local], ._AF input[type=datetime], ._AF input[type=email], ._AF input[type=month], ._AF input[type=number], ._AF input[type=password], ._AF input[type=search], ._AF input[type=tel], ._AF input[type=text], ._AF input[type=time], ._AF input[type=url], ._AF input[type=week], ._AF select, ._AF textarea, .achieveforms-container input[type=date], .achieveforms-container input[type=datetime-local], .achieveforms-container input[type=datetime], .achieveforms-container input[type=email], .achieveforms-container input[type=month], .achieveforms-container input[type=number], .achieveforms-container input[type=password], .achieveforms-container input[type=search], .achieveforms-container input[type=tel], .achieveforms-container input[type=text], .achieveforms-container input[type=time], .achieveforms-container input[type=url], .achieveforms-container input[type=week], .achieveforms-container select, .achieveforms-container textarea {
    margin: 0 0 7px !important;
}

input[type='text'], input[type='number'] {
    border: 2px solid #0b0c0c !important;
    border-radius: 0!important;
}

.achieveforms-container .all-sections .field .fieldContent textarea.fieldInput {
	border: 2px solid #0b0c0c !important;
    border-radius: 0!important;
}

._fieldName {
    font-family: 'Noto Sans', sans-serif !important;
    font-weight: bold!important;
    font-size: 19px!important;
}
.fieldName
{margin-bottom:0px !important;}

a:link,html._AF a {
    	color: #005ea5;
	padding: 0 2px;
	text-decoration: underline;
}
a:hover,html._AF a:hover {
    color: #2b8cc4 !important;
}

a:focus {
  outline: 3px solid transparent;
  color: #fff !important;
  background-color: #09509d;
  -webkit-box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  box-shadow: 0 -2px #09509d,0 4px #0b0c0c;
  text-decoration: none !important;
}

/*=======Dropdown styles - added 29/01/2021===========*/
.achieveforms-container select {
	border-radius: 0px !important;
	border: 2px solid #000;
	padding: 3px 8px;
	color : #000;
 }
 
.achieveforms-container select:focus {
	border: 3px solid #000;
}
 .achieveforms-container select.valid, .achieveforms-container textarea.valid {
    border-color: #000;
 }

/*=================Error warning====================*/
._AF .postfix-wrapper.error .postfix, ._AF .prefix-wrapper.error .prefix, ._AF input.error, ._AF select.error, ._AF textarea.error, .achieveforms-container .postfix-wrapper.error .postfix, .achieveforms-container .prefix-wrapper.error .prefix, .achieveforms-container input.error, .achieveforms-container select.error, .achieveforms-container textarea.error {
    border:2px solid #b33;
}

._AF div.error-wrapper, .achieveforms-container div.error-wrapper {
    padding: 0;
    margin-bottom: .5em;
    border-left: 4px solid #C2252D;
}

._AF label.error, .achieveforms-container label.error {
    color: #ad0000;
    font-weight: 400;
    margin-bottom: 0;
    font-size: 16px !important;
    padding-left: 5px;
    font-weight: bold !important;
}

/*Mandatory asterisk*/
/*Commented as form references shows it */
._AF .mandatory, .achieveforms-container .mandatory
{
/*display:none;*/
}

/*========remove tick==========*/

.achieveforms-container .all-sections .field .icon-valid:before {
    content: '' !important;
    color:#fff !important;
}

/*=======Buttons======*/

._AF .btn-af, .achieveforms-container .btn-af {
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    border: 0;
    /*background-color: #00823b;*/
	background-color: #162755;
    box-shadow: 0 2px 0 #003518;
    padding:6px 12px !important;
color:#fff;
}
/*._AF .btn-af.active, ._AF .btn-af:active, ._AF .btn-af:focus, ._AF .btn-af:hover, .achieveforms-container .btn-af.active, .achieveforms-container .btn-af:active, .achieveforms-container .btn-af:focus, .achieveforms-container .btn-af:hover, .open .dropdown-toggle._AF .btn-af, .open .dropdown-toggle.achieveforms-container .btn-af {
    background-color: #00692f;
}*/

._AF .btn-af.active, ._AF .btn-af:active,  ._AF .btn-af:hover, .achieveforms-container .btn-af.active, .achieveforms-container .btn-af:active, .achieveforms-container .btn-af:hover, .open .dropdown-toggle._AF .btn-af, .open .dropdown-toggle.achieveforms-container .btn-af {
    background-color: #2C498E;
}
.achieveforms-container .fillinButtons .btn:focus,._AF .btn-af:focus, .achieveforms-container .btn-af:focus {
  border-color: #09509d;
  color: #0b0c0c;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #09509d;
  box-shadow: inset 0 0 0 1px #09509d;
}

 .btn:focus:not(:active):not(:hover),.btn-af:focus:not(:active):not(:hover) {
  border-color: #09509d;
  color: #0b0c0c;
  background-color: #09509d;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c;
}
.achieveforms-container .fillinButtons .btn, .achieveforms-container .fillinButtons .btn-af {
    color: #fff;
    font-size: 19px;
    min-width: auto;
}
.achieveforms-container .fillinButtons .btn i {
    display: none;
}
.achieveforms-container .fillinButtons .btn i, .achieveforms-container .fillinButtons .btn span {
   /* color: #fff;*/
    padding-right: 0;
}
.achieveforms-container .fillinButtons .btn:focus {
    color: #fff;
    background-color: #09509d;
}

/*login page*/
/*login screen button*/
/*
.btn-default {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px !important;
    border-radius: 0px !important;
    font-weight: 500;
    font-size: 16px;
}

.form-control:focus {outline: 0.2rem solid #488EF8;}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #0c0c0c;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-group {
    text-align: center;
    display: block !important;
    margin-bottom: 30px !important;
}
*/
.error-text {
    margin-top: 2px;
    margin-bottom: 10px;
    color: red;
    font-weight: 600;
    border-left: 4px solid red;
    padding-left: 5px;
}

.form-link-color:focus
{
color:#fff !important;
}


/*Submission message*/
.achieveforms-container .submission-message .submission-message-btn-wrapper .btn.save,
.achieveforms-container .submission-message .submission-message-btn-wrapper .btn.finish {
    margin-right: 1em;
    padding: 10px !important;
    color: #fff !important;
}

.help-text span
{font-size:16px !important;}