.email {
        width: 800px;
        margin: 24px auto;
        font-family: 'Noto Sans', sans-serif;
    }

    .email-header {
        border-bottom: 1px solid #3c3c3c;
    }

    .email-header>img {
        width: 90px;
        height: 100px;
        
    }

    .email-content-list {
        width: 750px;
        min-height: 300px;
    }

    .email-content-list>ul {
        width: 100%;
        height: 50px;
        padding: 0;
        border-bottom: solid 1px #3c3c3c;
    }

    .email-content-list>ul>li { 
        width: 40%;
        height: auto;
        display: inline-block;
    }

    .email-content-list>ul>li:first-child {
        margin-right: 24px;
        font-weight: bold;
        float: left;
    }
    
    @media only screen and (min-device-width: 600px){
        .email-content {
        height: 450px;
    }
        .email-content-list>ul>li:first-child {
        width: 50%;
        }
    }

    @media only screen and (max-device-width: 480px) {
        .email-content {
        height: 450px;
    }
        .email-content-list>ul>li:first-child {
        width: 100%;
     }
    }