@import url("https://assets.digital.cabinet-office.gov.uk/static/fonts-607c54f71c7c1f98257595cedaa13a34.css");

table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	/* margin-left: 14px; */
}

img {
	border: 0;
	margin-bottom: 24px;
}

table tr td:first-child {
	font-weight: bold;
}

tr {
	border-bottom: 1px solid #ccc;
}

td {
	width: 50% !important;
	height: auto;
}


body {
	font-family: nta, Arial, Helvetica, sans-serif;
	margin: 0;
	font-size: 17px;
	color: #333;
	/* padding: 15px; */
}

a {
	color: #402C78;
	text-decoration: underline;
}

h1 {
	font-weight: bold;
	border-bottom: 0;
	font-size: 40px;
	display: block;
	margin-bottom: 0;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
}

dl {
	overflow: hidden;
	margin-bottom: 1em;
}

dt {
	font-weight: bold;
	margin: 0.75em 3% 0 0;
	float: left;
	width: 32%;
	clear: both;
	text-align: right;
}

dd {
	padding: 0;
	margin: 0.75em 0 0 0;
	width: 65%;
	float: left;
}

th {
	vertical-align: bottom;
}

th, td {
	text-align: left;
	border-bottom: 1px solid #bfc1c3;
	padding: 0.75em 1.25em 0.5em 0 !important;
}

td {
	vertical-align: top;
}

.table-border th, .table-border td {
	border-collapse: collapse;
	border: 1px solid #999999;
	padding: 0.25em 1.25em 0.25em 0.5em !important;
}

.table-header {
	background-color: #dbdbdb;
	font-size: 18px;
	font-weight: bold;
}

/* .pdf_footer {
	margin-left: 1.5rem;
} */